@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
	animation: fadeOut 6s;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

html, body {
	background: #121821;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

html, body {
    background: linear-gradient(218deg, #d25e00, #d7a300, #00ced9, #0080d7, #d700e2, #e40059, #00ddae, #00e13a);
    background-size: 1600% 1600%;

    -webkit-animation: AnimationName 190s ease infinite;
    -moz-animation: AnimationName 190s ease infinite;
    animation: AnimationName 190s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:78% 0%}
    50%{background-position:23% 100%}
    100%{background-position:78% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:78% 0%}
    50%{background-position:23% 100%}
    100%{background-position:78% 0%}
}
@keyframes AnimationName {
    0%{background-position:78% 0%}
    50%{background-position:23% 100%}
    100%{background-position:78% 0%}
}


@keyframes fadeOut{
	from{
		opacity:0;
	}
	to{
		opacity:1;
	}
}
h4{
	text-align:center;
	animation: fadeh4 14s;
	color: white;
	font-size:35px;
	font-weight: 200;
}
@keyframes fadeh4 {
  0% { opacity: 0; }
  0% { font-size: 25px; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
h5{
	float:none;
	text-align:center;
	animation: fadeh5 14s;
	color: white;
	font-size:50px;
	font-weight: 200;
	letter-spacing: 55px;
}
@keyframes fadeh5 {
  0% { opacity: 0; }
  0% { font-size:5px}
  75% { opacity: 0; }
  100% { font-size:50px}
  100% { opacity: 1; }
}
h3{
	text-align:center;
	animation: fadeOut 12s;
	color: white;
	font-size:15px;
	font-weight: 400;
}
h1{
	text-align:center;
	animation: fadeOut 12s;
	color: white;
	font-size:40px;
	margin-down: 100px;
}
h1{
	text-align:center;
	animation: fadeOut 12s;
	color: white;
	font-size:40px;
	font-weight: 600;
}
h2{
	text-align:center;
	animation: fadeOut 12s;
	color: white;
	font-size:20px;
	font-weight: 400;
}
.container{
	animation: fadeOut2 12s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 20px 0 20px;
}

.container .heading{
  width: 50%;
  padding-bottom: 50px;
}
.container .heading h3{
  font-size: 3em;
  font-weight: bolder;
  padding-bottom: 10px;
  border-bottom: 3px solid white;
}

.container .heading h3 a{
  font-weight: 100;
}
.container .box{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.container .box .dream{
  display: flex;
  flex-direction: column;
  width: 32.5%;
}

.container .box .dream img{
  width: 100%;
  padding-bottom: 15px;
  border-radius: 5px;
}

.container .btn{
  margin: 40px 0 70px 0;
  background: #222;
  padding: 15px 40px ;
  border-radius: 5px;
}

.container .btn a{
 color: #fff;
 font-size: 1.2em;
 text-decoration: none;
 font-weight: bolder;
 letter-spacing: 3px;
}

@media only screen and (max-width: 769px){
    .container .box{
   flex-direction: column;
  }

.container .box .dream{
  width: 100%;
}
}

@media only screen and (max-width: 643px){
.container .heading{
  width: 100%;
}
.container .heading h3{
  font-size: 1em;

}
